<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Hello, world!</h1>
    <video width="320" height="240" controls>
Your browser does not support the video tag.
</video>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" href="https://getbootstrap.com/docs/4.3/examples/jumbotron/#" role="button">Learn more »</a></p>
  </div>
</div>
